{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mt-4">
                <div class="card-header">
                    <h1 class="text-center">Attendance Detail</h1>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="mb-2">Subject: {{ attendance.subject.name }}</p>
                            <p class="mb-2">Date: {{ attendance.date }}</p>
                            <p class="mb-4">Attendance Status: {{ attendance.attendance_status }}</p>
                            <!-- Add other attendance details here -->
                            <!-- Example: <p>Some other detail: {{ attendance.some_other_detail }}</p> -->
                        </div>
                        <div class="col-md-6 d-flex flex-column justify-content-between">
                            <div class="mb-3">
                                <a href="{% url 'attendance_update' attendance.id %}" class="btn btn-primary">Update Attendance</a>
                            </div>
                            <div>
                                <a href="{% url 'attendance_delete' attendance.id %}" class="btn btn-danger">Delete Attendance</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
